<img id="photo" src="./images/photo.jpg" title="<%= titulofoto %>" alt="<%= titulofoto %>" />
<h3>Bienvenido a la ficha de <%= nombre %>, <%= profesion %>.</h3>
<p>
En la actualidad me encuentro estudiando el curso <%= curso %>, impartido por el gran <%= profesor %>
</p>
<a href="/quizes/question">Comience a jugar</a>
